* {
    margin: 0;

}

body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg, #8bc9c9, #b2e2e4);
    height: 100vh;
}

.container {

    margin-top: 0.5em;
    margin-left: 60%;
    top: 80%;
    left: 80%;
    background: white;
    /*transform: translate(-90%, -90%); */
    width: 25em;
    height: 36em;
    border-radius: 0.625em;
}

.container h1 {
    text-align: center;
    padding: 0.9em;
    border-bottom: 0.12em solid silver;
}

.container form {
    padding: 0 2.5em;
}

.txt-field {
    height: 1.5em;

}

form .txt-field {
    position: relative;
    border-bottom: 0.125em solid #adadad;
    margin: 1.875em 0;
}

.txt-field input {
    width: 100%;
    padding: 0 0.3125;
    height: 1.5em;
    font-size: 0.9em;
    border: none;
    background: none;
    outline: none;
}

.txt-field label {
    position: absolute;
    top: 50%;
    left: 0.3125;
    color: #adadad;
    transform: translatey(-80%);
    font-size: 1em;
    position: absolute;
    transition: .5s;
}

.txt-field span::before {
    content: '';
    position: absolute;
    top: 1.45em;
    left: 0;
    width: 0%;
    height: 0.125em;
    background: #2691d9;
    transition: .5s;
}

.txt-field input:focus~label,
.txt-field input:valid~label {
    top: -0.3125em;
    color: #2691d9;
}

.txt-field input:focus~span::before,
.txt-field input:valid~span::before {
    width: 100%;
}

#registerBtn {
    width: 80%;

    margin-left: 10%;
    height: 3.125em;
    border: 0.0625em solid;
    border-radius: 1.5625em;
    background: #2691d9;
    font-size: 120%;
    color: #e9f4fb;
    font-weight: 800;
    cursor: pointer;
    outline: none;
    font-family: montserrat;
}

#registerBtn:hover {
    border-color: #2691d9;
    transition: .5s;
}

a {
    padding: 10%;
    text-decoration: none;
    color: black;

}

.loadingScreen {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url(frontEndResources/Loading_icon.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
}

.hideElement {
    display: none;
}